<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
    <h1>Личный кабинет</h1>

    <p>Добро пожаловать!</p>

    <h2>Бюджет</h2>

    <p>Лимит на месяц: {{ budget.monthly_limit }} ₽</p>
    <p>Потрачено за месяц: {{ monthly_expenses }} ₽</p>
    <p>Осталось: {{ remaining }} ₽</p>

    {% if remaining < 0 %}
        <p style="color:red;">Вы превысили бюджет!</p>
    {% endif %}

    <form action="/dashboard/" method="post">
        {% csrf_token %}
        <label>Установить месячный бюджет:</label>
        <input type="number" step="0.01" name="budget" value="{{ budget.monthly_limit }}">
        <button type="submit">Сохранить</button>
    </form>


    <h2>Добавить транзакцию</h2>

    <form action="/dashboard/" method="post">
        {% csrf_token %}

        <label>Категория:</label>
        <select name="category">
            {% for cat in categories %}
                <option value="{{ cat.id }}">{{ cat.name }} ({{ cat.get_type_display }})</option>
            {% endfor %}
        </select>

        <label>Сумма:</label>
        <input type="number" step="0.01" name="amount" required>

        <label>Дата:</label>
        <input type="date" name="date" required>

        <label>Описание:</label>
        <input type="text" name="description">

        <button type="submit">Добавить</button>
    </form>


    <form action="/logout/" method="post">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>

    <h2>Ваши транзакции</h2>

    <table border="1">
        <tr>
            <th>Дата</th>
            <th>Категория</th>
            <th>Сумма</th>
            <th>Описание</th>
            <th></th> <!-- колонка под кнопку -->
        </tr>

        {% for t in transactions %}
        <tr>
            <td>{{ t.date }}</td>
            <td>{{ t.category.name }}</td>
            <td>{{ t.amount }}</td>
            <td>{{ t.description }}</td>
            <td>
                <form action="/transactions/delete/{{ t.id }}/" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Отчёт по расходам</h2>

    <table border="1">
        <tr>
            <th>Категория</th>
            <th>Сумма</th>
        </tr>

        {% for item in expense_report %}
        <tr>
            <td>{{ item.category__name }}</td>
            <td>{{ item.total }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Отчёт по доходам</h2>

    <table border="1">
        <tr>
            <th>Категория</th>
            <th>Сумма</th>
        </tr>

        {% for item in income_report %}
        <tr>
            <td>{{ item.category__name }}</td>
            <td>{{ item.total }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
