<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}


    <form method="post">
        {% csrf_token %}
        <label>Логин:</label>
        <input type="text" name="username">

        <label>Пароль:</label>
        <input type="password" name="password">

        <label>Повторите пароль:</label>
        <input type="password" name="password2">

        <button type="submit">Создать аккаунт</button>
    </form>

    <br>

    <a href="/">Уже есть аккаунт</a>
</body>
</html>
